# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular laguages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java ect,,;

Some of the commonly used libaries used by Data Scientists inclued:
1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotib.
6. Keras.
7. Scikit-Learn.
8. PyTorch. ect..;

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#this is a common arithmetic example to multiply and then add intergs
(3*4)+5

17

In [3]:
#this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

_Objetive_
* List popular languages for Data Science
* List popular libaries for Data Science
* List of well known Data Science Tools
* How to provied comments in the cell

## Author
Jasmine Gonzalez